{% block contents %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>
</head>

<body>
    <br><br><br><br><br>
    <table align='center'>
    <tr>
    	<th align='left' style='width: 200px'>
    	<form action='/admin' method='post'>
    	{% for user_id in users_id %}
    	{{ user_id }}
    	<input type='submit' name={{ user_id }} value='Delete User'/><br>
    	{% endfor %}
    	</form>   
    	</th>
    	
    	<th align='left' style='width: 250px'>
    	<form action='/admin' method='post'>
    	{% for community_id in communities_id %}
    	{{ community_id }}
    	<input type='submit' name={{ community_id }} value='Delete Community'/><br>
    	{% endfor %}
    	</form> 
    	</th>
    	
    	<th align='left' style='width: 400px'>
    	<form action='/admin' method='post'>
    	{% for moderator_community in moderator_communities %}
    	{{ moderator_community.moderator }} : Moderator of {{ moderator_community.community_id }}
    	<input type='submit' name={{ moderator_community.community_id }} value='Delete Moderator'/>
    	<input type='hidden' name={{ moderator_community.moderator }} value='Delete Moderator'/><br>
    	{% endfor %}
    	</form>  
    	</th>
    </tr>
    </table>
</body>

</html>
{% endblock %}