{% block contents %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Main</title>
</head>

<body>
    <form>
    <p align='center'>{{ name }}
    <button formaction={{app_root}}>Log out</button>
    {% if isAdmin %}
    <button formaction={{app_root}}/admin>Admin Dashboard</button>
    {% endif %}
	</p></form><br>
    
    <table align='center'>
    <tr>
    	<th align='center' style='width: 300px'>    
    	<form action='/join_community' method='post'>
    	Community List<br>
    	{% for community_id in communities_id %}
    	{{ community_id }}
    	<input type='submit' name={{ community_id }} value='Join'/><br>
    	{% endfor %}
    	</form> 
    	
    	<form>
    	<button formaction={{app_root}}/create_community>Create Community</button>
		</form>    
    	</th>
    	
    	<th align='center' style='width: 300px'>   
    	My Community<br>
    	{% for community_id in my_community_id %}
    	<a href={{app_root}}/community/{{ community_id }}>{{ community_id }}</a><br>      
    	{% endfor %}
    	</th>
    </tr>
    </table>
</body>

</html>
{% endblock %}